#current-user .open .dropdown-menu
{
    background-color: #fff;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


@media (max-width: 768px) {
    .navbar-login {
        width: 100%;
    }
}

#set-anonymous-customer-btn-wrapper
{
    position: absolute;
    top: 1em;
    right: 4.5em;
}